*{
    margin: 0;
    padding: 0;
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
.cabecalho {
    background-color: #f39fdb;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 50%;
}

.escola{
    background-image: linear-gradient(#ab48a6,#ff5680);
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 60%%;
}
.escola-titulo{
    padding: 24px 0;
}

.estudantes{ 
    padding: 24px;
}
.foto-kimberly{ 
    width: 140px;


