*{
    margin: 0;
    padding: 0;
}

body{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.cabecalho{
    background-color: #f072cc;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 50%;
}

.escola{
    background-image: linear-gradient(#ab48a6,#ffc1d1);
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 60%;
}
.escola-titulo{
    padding: 24px 0;
}

.estudantes{ 
    padding: 24px;
}
.foto-kimberly{ 
    width: 140px;}


